/* app css stylesheet */

.color-style-red {
    color: red;
}
.color-style-blue {
    color: blue;
}


#formPanel input.ng-valid {
    color: #7FFF00 ;
    background-color: #32CD32;
}

.error > span {
    color: red;
}