<div classe="container" ng-controller="controllerTableCtrl as ctrl1">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
            Products
            <span class="label label-primary">{{ctrl1.products.length}}</span>
          </h3>
        </div>
        <div class="panel-body">
          Limit: {{ctrl1.limit}}
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Expiry</td>
                <td class="text-right">Price</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="p in ctrl1.products | limitTo:ctrl1.limit">
                <td>{{p.name}}</td>
                <td>{{p.category}}</td>
                <td>{{p.expiry}}</td>
                <td class="text-right">{{p.price | currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>