<form name="myForm" novalidate>
    <div id="formPanel" class="panel">
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <div class="form-group row">
                        <label for="nameForm">Name:</label>
                        <input id="nameForm" class="form-control" required name="nameForm" ng-model="ctrlForm.obj.name">
                        <div class="error"
                            ng-show="myForm.nameForm.$invalid && (myForm.nameForm.$dirty || myForm.$submitted)">
                            <span ng-show="myForm.nameForm.$error.required">
                                Please enter a value
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="surnameForm">Surname:</label>
                        <input id="surnameForm" class="form-control" required name="surnameForm" ng-model="ctrlForm.obj.surname">
                        <div class="error" ng-show="myForm.surnameForm.$invalid && (myForm.surnameForm.$dirty || myForm.$submitted)">
                            <span ng-show="myForm.surnameForm.$error.required">
                                Please enter a value
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ageForm">Age:</label>
                        <input id="ageForm" type="number" class="form-control" name="ageForm" adult required
                            ng-model="ctrlForm.obj.age">
                        <div class="error" ng-show="myForm.ageForm.$invalid && (myForm.ageForm.$dirty || myForm.$submitted)">
                            <span ng-show="myForm.ageForm.$error.required">
                                Please enter a value
                            </span>
                            <span ng-show="myForm.ageForm.$error.adult">Should be => 18 and <= 100</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="countryForm">Country:</label>
                        <input id="countryForm" type="text" required class="form-control" name="countryForm" country required
                            ng-model="ctrlForm.obj.country">
                        <div class="error" ng-show="myForm.countryForm.$invalid && (myForm.countryForm.$dirty || myForm.$submitted)">
                            <span ng-show="myForm.countryForm.$error.required">
                                Please enter a value
                            </span>
                            <span ng-show="myForm.countryForm.$pending.country">Validating ....</span>
                            <span ng-show="myForm.countryForm.$error.country">Already exists, try
                                another</span>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" ng-submit="ctrlForm.addElement(ctrlForm.obj, myForm)">
                        Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>