<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AngularJS app</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>Esercizi di pratica - AngularJS</h1>
  <div id="divController1" ng-controller="controller1Ctrl as ctrl1">
    <div class="container">
      <div class="row">
        <div ng-show="ctrl1.showNome" class="col-md-4">
          <p id="hello1">Controller1 - Hello World {{ctrl1.nomePersona}}</p>
          <p id="nomeComune1">Controller1 - Nome comune {{ctrl1.rootScope.nomeComune}} </p>
        </div>
        <div class="col-md-4">
          <label for="checkboxInput">Mostra nome: </label>
          <input id="checkboxInput" name="checkboxInput" type="checkbox" ng-model="ctrl1.check"
            ng-change="ctrl1.showNomeInserito(ctrl1.check)">
        </div>
        <!-- <div id="divControllerChild1" ng-controller="child1Ctrl as ctrlChild1">
          <p id="hello1">Controller Child 1 - Hello World {{ctrlChild1.nomeChild}} - Figlio di {{ctrlChild1.nomeParent}} </p>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="nomeInput">Inserisci Nome: </label>
          <!-- Slide 26: ng-model, ng-blur, ng-init, ng-disabled -->
          <input ng-blur="ctrl1.checkNomeInput()" ng-disabled="ctrl1.disableNomeInput"
            ng-init="ctrl1.nomeInput='NgInit'" id="nomeInput" name="nomeInput" type="text" ng-model="ctrl1.nomeInput">
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-success" ng-click="ctrl1.enableInput()">Riabilita
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <!-- Slide 26: ng-style -->
          <!-- ng-style="{'color':ctrl1.nomeColore}" -->
          <p ng-style="{'color':ctrl1.nomeColore}" id="nomeOutput">Nome inserito: {{ctrl1.nomeInput | uppercase}}</p>
        </div>
        <div class="col-md-4">
          <!-- Slide 26: ng-style -->
          <label for="nomeColore">Inserisci colore: </label>
          <input id="nomeColore" name="nomeColore" type="text" ng-model="ctrl1.nomeColore">
        </div>
        <!-- <div class="col-md-4">
          <label>
            <input type="radio" ng-model="ctrl1.colorClass" ng-value="'background-style-blue'">
            Red
          </label>
          <label>
            <input type="radio" ng-model="ctrl1.colorClass" ng-value="'background-style-red'">
            Blue
          </label>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Slide 26: ng-repeat -->
          <div ng-repeat="n in ctrl1.lista track by $index">
            Nome {{$index}} {{n}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <!-- Slide 26: ng-repeat -->
          <div ng-repeat="n in ctrl1.listaObj | orderBy:'-surname'">
            {{n}}
          </div>
        </div>
        <div class="col-md-4">
          Filtro di ricerca <input type="text" ng-model="ctrl1.searchCriteria" />
        </div>
        <div class="col-md-4">
          Result: {{ctrl1.lista | filter:ctrl1.searchCriteria}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>
            Limit {{ctrl1.limitToNumber}} to:
            <input type="number" step="1" ng-model="ctrl1.limit">
            <p>Output long number: {{ ctrl1.limitToNumber | limitTo:ctrl1.limit }}</p>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div id="divController2" ng-controller="controller2Ctrl as ctrl2">
    <div ng-if="ctrl2.showDiv" class="container">
      <div class="row">
        <div class="col-md-4">
          <p id="hello2">Controller2 - Hello World {{ctrl2.nomePersona}}</p>
          <p id="nomeComune2">Controller2 - Nome comune {{ctrl2.rootScope.nomeComune}}</p>
        </div>
      </div>
    </div>
  </div>


  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="controller1/controller1.js"></script>
  <script src="controller2/controller2.js"></script>
  <script src="lib/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/app.css" />
</body>

</html>