<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AngularJS app</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>Esercizi di pratica - AngularJS</h1>
  <!-- slide 39: configurazione routing  -->
  <div class="container" ng-controller="mainCtrl as ctrl">
    <div class="row">
      <div class="col-md-12">
        <button type="button"  class="btn btn-info"
            ng-click="ctrl.goToView('v1')"
            >Mostra View 1
        </button>
        <button type="button"  class="btn btn-info"
            ng-click="ctrl.goToView('v2')"
            >Mostra View 2
        </button>
      </div>
    </div>
  </div>
  <!-- slide 38: configurazione routing  -->
  <div ng-view></div>

  <!-- <div>AngularJS seed app: v<span app-version></span></div> -->

  <!-- dipendenze -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="controller1/controller1.js"></script>
  <script src="controller2/controller2.js"></script>
  <script src="controllerTable/controllerTable.js"></script>
  <script src="core/version/version.js"></script>
  <script src="core/version/version-directive.js"></script>
  <script src="core/version/interpolate-filter.js"></script>
  <script src="lib/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/app.css" />
</body>
</html>
