<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Detail</th>
          </tr>
        <tbody>
          <!-- | genderFilter |numberFilter -->
          <tr ng-repeat="x in ctrl1.listaObj">
            <td>{{ x.name }}</td>
            <td>{{ x.surname }}</td>
            <td>{{ x.age }}</td>
            <td><button ng-click="ctrl1.showDetailFunct($index)">Detail</button></td>
          </tr>
        </tbody>
        </thead>
      </table>
      <div class="row">
        <div class="col-md-12">
          <button ng-click="ctrl1.refreshList()">Refresh list</button>
          <button ng-click="ctrl1.showAddFunct()">Add element</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <component-child-1 ng-if="ctrl1.showDetail" detail="ctrl1.itemSelected">
          </component-child-1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <component-form ng-if="ctrl1.showAdd"></component-form>
        </div>
      </div>
      <ng-outlet></ng-outlet>
    </div>
  </div>
</div>