<div id="divController1" ng-controller="controller1Ctrl as ctrl1">
  <!-- <div id="divController1" ng-controller="controller1Ctrl as ctl1">
    <p id="hello1">Controller1 - Hello World {{nomePersona}}</p> -->
  <!-- slide 26 -- ng-show vs ng-if -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p ng-if="ctrl1.showNome" id="hello1">Controller1 - Hello World {{ctrl1.nomePersona}}</p>
      </div>
      <div class="col-md-4">
        <label for="checkboxInput">Mostra nome: </label>
        <input id="checkboxInput" name="checkboxInput" type="checkbox" ng-model="ctrl1.check"
          ng-change="ctrl1.showNomeInserito(ctrl1.check)">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="nomeInput">Inserisci Nome: </label>
        <!-- Slide 26: ng-model, ng-blur, ng-init, ng-disabled -->
        <input ng-blur="ctrl1.checkNomeInput()" ng-disabled="ctrl1.disableNomeInput"
          ng-init="ctrl1.nomeInput='Default'" id="nomeInput" name="nomeInput" type="text" ng-model="ctrl1.nomeInput">
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-success" ng-click="ctrl1.enableInput()">Riabilita
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <!-- Slide 26: ng-style -->
        <!-- ng-style="{'color':ctrl1.nomeColore}" -->
        <p ng-class="ctrl1.colorClass" id="nomeOutput">Nome inserito: {{ctrl1.nomeInput | uppercase}}</p>
      </div>
      <div class="col-md-4">
        <!-- Slide 26: ng-style -->
        <label for="nomeColore">Inserisci colore: </label>
        <input id="nomeColore" name="nomeColore" type="text" ng-model="ctrl1.nomeColore">
      </div>
      <div class="col-md-4">
        <label>
          <input type="radio" ng-model="ctrl1.colorClass" ng-value="'background-style-blue'">
          Red
        </label>
        <label>
          <input type="radio" ng-model="ctrl1.colorClass" ng-value="'background-style-red'">
          Blue
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- Slide 26: ng-repeat -->
        <div ng-repeat="n in ctrl1.lista track by $index">
          Nome {{$index}} {{n}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <!-- Slide 26: ng-repeat -->
        <div ng-repeat="n in ctrl1.listaObj | orderBy:'-surname'">
          {{n}}
        </div>
      </div>
      <div class="col-md-4">
        Filtro di ricerca <input type="text" ng-model="ctrl1.searchCriteria" />
      </div>
      <div class="col-md-4">
        Result: {{ctrl1.lista | filter:ctrl1.searchCriteria}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>
          Limit {{ctrl1.limitToNumber}} to:
          <input type="number" step="1" ng-model="ctrl1.limit">
          <p>Output long number: {{ ctrl1.limitToNumber | limitTo:ctrl1.limit }}</p>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>
          Limit Number per tabella:
          <input type="number" step="1" ng-model="ctrl1.limitTabella">
        </label>
        <button ng-click="ctrl1.goToView(ctrl1.limitTabella)">View Table</button>
      </div>
    </div>
    
  </div>
</div>