<div id="divController2" ng-controller="controller2Ctrl as ctrl2">
    <p id="hello2">Controller2 - Hello World {{ctrl2.nomePersona}}</p>
    <p id="nomeComune2">Controller2 - Nome comune {{ctrl2.rootScope.nomeComune}}</p> 
</div>
 