<div class="container">
  <div class="row">
    <div class="col-md-12">
      <label for="nameChild1">Name </label>
      <input id="nameChild1" name="nameChild1" type="input" ng-model="ctrl1Child.detail.name">
    </div>
    <div class="col-md-12">
      <label for="surnameChild1">Surname </label>
      <input id="surnameChild1" name="surnameChild1" type="input" ng-model="ctrl1Child.detail.surname">
    </div>
    <div class="col-md-12">
      <label for="ageChild1">Age </label>
      <input id="ageChild1" name="ageChild1" type="input" ng-model="ctrl1Child.detail.age">
    </div>
    <div class="col-md-12">
      <label for="eliminaRecord">Vuoi eliminare questo record dalla tabella? </label>
      <button ng-click="ctrl1Child.elimina()">Elimina</button>
    </div>
  </div>
</div>